:root {
  --text: #AAAFD5;
  --accent: #C69FF4;
  --background: #252739;
  --secondary-background: #1E2030;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:var(--text);
  background-color: var(--background);
}

.parameter-input {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  margin-right: 25%;
  background-color: var(--background);
}
