:root {

  --background: #F3F9FE;
  --surface: #FFFFFF;
  --shadow: #eceef2; 

  --text: #2E3142;

  --accent: #8B7CF6;
  --accent-hover: #5d51b5;

  --slider-track: #D8D5E6;
  --slider-thumb: #8B7CF6;

  --button-text: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:var(--text);
  background-color: var(--background);
}

.main {
  margin-right: 25%;
}

.main h1, .navigation {
  width: 90%;
  background-color: var(--surface);
  align-self: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadow);
  padding: 20px;
}

.navigation button {
  align-items: center;
  background-color: var(--accent);
  color: var(--text);
  width: 33%;
  font-size: 30px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: auto; 
}

.navigation button:hover{
  background-color: var(--accent-hover);
  color: var(--text-muted);
  cursor: pointer; 
}

.parameterInput {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--surface);
  box-shadow: -10px 0 5px var(--shadow);
  padding: 20px;
}

.parameterInput h2 {
  font-size: 25px;
}

.parameterInput p {
  font-size: 20px;
}

.formParameter label {
  font-size: 25px;
}

.formParameter input[type="number"] {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  float: right;
}

.slideContainer {
  width: 100%;
  display: flex;
  text-align: center;
}

.slideContainer label {
  width: 100%;
  text-align: center;

}

.slideContainer span {
  font-size: 15px;

}

.slider {
  -webkit-appearance: none;
  height: 15px;
  width: 80%;
  border-radius: 5px;
  background: var(--slider-track);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--slider-thumb);
  cursor: pointer;
}

.parameterButtons {
  width: 90%;
  align-self: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadow);
  padding: 20px;
}

.parameterInput button, #generateTerrain {
  text-align: center;
  background-color: var(--accent);
  color: var(--text);
  width: 49%;
  font-size: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: auto; 
}

.parameterInput button:hover, #generateTerrain:hover{
  background-color: var(--accent-hover);
  color: var(--text-muted);
  cursor: pointer; 
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal ContentBox */
.modalContainer {
  background-color: var(--surface);
  margin: 20% auto;
  padding: 20px;
  border: 1px solid var(--text);
  border-radius: 15px;
  width: 60%; 

}

/* The Close Button */
.close {
  color: var(--accent);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: var(--accent-hover);
  text-decoration: none;
  cursor: pointer;
}