:root {
  --base-font-size: 16px;
/* -----------------------Light Mode Colors---------------------- */
  --background-light: rgb(243, 249, 254);   
  --surface-light: rgb(255, 255, 255);     
  --shadow-light: rgb(236, 238, 242);      

  --text-light: rgb(46, 49, 66);           

  --accent-light: rgb(139, 124, 246);      
  --accent-hover-light: rgb(93, 81, 181);   

  --slider-track-light: rgb(216, 213, 230); 

/* -----------------------Dark Mode Colors---------------------- */
  --background-dark: rgb(46, 49, 66);
  --surface-dark: rgb(36, 38, 52);
  --shadow-dark: rgb(26, 28, 42);

  --text-dark: rgb(243, 249, 254);

  --accent-dark: rgb(139, 124, 246);
  --accent-hover-dark: rgb(93, 81, 181);

  --slider-track-dark: rgb(216, 213, 230);

/* Default mappings (change when theme toggles) */
  --background: var(--background-light);
  --surface: var(--surface-light);
  --shadow: var(--shadow-light);
  --text: var(--text-light);
  --accent: var(--accent-light);
  --accent-hover: var(--accent-hover-light);
  --slider-track: var(--slider-track-light);
}


body {
  font-family: Arial, Helvetica, sans-serif;
  color:var(--text);
  background-color: var(--background);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
}

button, #generateTerrain, #btnApplySett {
  align-items: center;
  background-color: var(--accent);
  color: var(--text);
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: auto; 
}

button:hover, #generateTerrain:hover, #btnApplySett:hover{
  background-color: var(--accent-hover);
  color: var(--text-muted);
  cursor: pointer; 
}

img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 20px;
}

/* ========================== MAIN ========================= */
.main {
  align-items: center;
  margin-right: 25%;
}

#pageTitle, .navigation, .renderedMap {
  width: 90%;
  background-color: var(--surface);
  align-self: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadow);
  padding: 20px;
}

.navigation button {
  width: 33%;
  font-size: 2rem;
}

/* ========================== SIDE-BAR ========================= */
.parameterInput {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--surface);
  box-shadow: -10px 0 5px var(--shadow);
  padding: 20px;
}

.parameterInput h2 {
  font-size: 2.5rem;
}

.parameterInput p {
  font-size: 1.25rem;
}

.formParameter label {
  font-size: 1.25rem;
}

.formParameter input[type="number"] {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  float: right;
}

.parameterButtons {
  width: 90%;
  align-self: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadow);
  padding: 20px;
}

.parameterInput button, #generateTerrain {
  width: 49%;
  font-size: 1.25rem;
}


/* ========================== SLIDER ========================= */
.slideContainer {
  width: 100%;
  display: flex;
  text-align: center;
}

.slideContainer label {
  width: 100%;
  text-align: center;
}

.slideContainer span {
  font-size: 1.25rem;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  width: 80%;
  border-radius: 5px;
  background: var(--slider-track);
}

/*Slider Thumb*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background-color: var(--accent-hover);
}


/* ========================== MODAL========================= */
/* Background */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Content*/
.modalContainer {
  text-align: center;
  background-color: var(--surface);
  top: auto;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid var(--text);
  border-radius: 15px;
  width: 60%;
  float: center;
}

/* Close Button */
.close {
  color: var(--accent);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: var(--accent-hover);
  text-decoration: none;
  cursor: pointer;
}