:root {
  --base-font-size: 16px;
/* -----------------------Colors---------------------- */
  --background: rgb(243, 249, 254);   
  --surface: rgb(255, 255, 255);     
  --shadow: rgb(236, 238, 242);      

  --text: rgb(46, 49, 66);           

  --accent: rgb(139, 124, 246);      
  --accent-hover: rgb(93, 81, 181);   

  --slider-track: rgb(216, 213, 230); 

}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:var(--text);
  background-color: var(--background);
}

.create-account-container {
  height: 100%;
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--surface);
  box-shadow: -10px 0 5px var(--shadow);
  padding: 20px;
  align-items: center;
}

.create-account-container h1 {
  font-size: 2.5rem;
}

.create-account-container p {
  font-size: 1.25rem;
}

.create-account-container label {
  font-size: 1.25rem;
}

.create-account-container input[type="text"], .create-account-container input[type="password"] {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  float: right;
}

.create-account-container input[type="submit"] {
  width: 90%;
  align-self: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadow);
  padding: 20px;
}

.create-account-container a {
  width: 49%;
  font-size: 1.25rem;
}